<!-- <p>{{singleUser.id}}</p>
<p>{{singleUser.name}}</p> -->


<div class="container">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">phone</th>
          <th scope="col">website</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{singleUser.id}}</th>
          <td> {{singleUser.name}}</td>
          <td> {{singleUser.phone}}</td>
          <td><a>{{singleUser.website}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <!-- <h2>{{detail.name | uppercase}} Details</h2>
    <div><span>id: </span>{{detail.id}}</div> -->
  </div>
</div>